# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Directories
bin/
/target/
output/
data/TPCH/

# IDE files
.project
.classpath
.settings
/.settings
.metadata
/.metadata
.recommenders
*.releaseBackup
release.properties
.idea
/.idea
*.iml
*.class

# Application files
results.txt

solution
